body {
  font-family: "Raleway", Arial, sans-serif;
}





.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: 40px;
 
  padding: 88px 50px 96px;
}

.header-nav {
  justify-self: start;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top:6px;
  
}

.header-menu-item {
  list-style: circle;
}

.header-menu-item_no-bullet {
  list-style: none;
}

.header-menu-link {
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-menu-link_active {
  text-decoration: none;
}

.header-logo {
  justify-self: center;
}

.header-logo-image {
  display: block;
  width: 139px;
  height: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 24px;
    font-weight: 400;
font-size: 18px;
line-height: 24.3px;
letter-spacing: 0%;


}
.header .contacts {
margin-left: 150px;
    margin-top: 6px;
}





/* cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  margin-top: 1px;
  padding: 160px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2px;
}

.cover__description-text {
  max-width: 640px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  color:#fff;
  border:1px solid currentColor;
  padding: 12px 32px;
  font: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  width: 100%;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin: 6px 15px;
  text-align: center;
}

.aligned-text_right {
  margin: -7px 30px;
  text-align: right;
}



/* lots  */

.lots {
  max-width: 1100px;
  margin: 0 auto;
  padding: 180px 24px 2px;
}

.lots-title {
  margin: 1px 40px 27px;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-list li {
  width: 334px;
  min-height: 563px;
}




.card-list [class^="card-"] {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  padding: 51px 40px 48px;
  color: #fff;
  background-color: #444;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.card-list [class^="card-"] a {
  color: inherit;
  text-decoration: none;
}




.card__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}


.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}



.card-movie {
  background-image: url("../images/overlay.png"), url("../images/card-lot-01.jpg");
}

.card-book {
  background-image: url("../images/overlay.png"), url("../images/card-lot-02.jpg");
}

.card-picture {
  background-image: url("../images/overlay.png"), url("../images/card-lot-03.jpg");
}

/

.look-more {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 4px;
}



.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 72px;
  padding: 35px 24px 13px 47px;
      margin: 122px 23px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
  width: 141.54px;
  height: 112.55px;
}

.about__column_text {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin: 100px 0 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about-text__paragraph_first {
  margin: 6px 0;
}

.about-text__paragraph_second {
  margin: -9px -11px;
  transform: translateX(11px);
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  align-items: start;
  padding: 58px 50px 82px;
}



.footer__menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}



.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  align-self: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
